﻿@model Loka.Areas.Admin.Models.HomeStatistic


<!-- top tiles -->
<div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top">
            <i class="fa fa-user"></i>
            Всего игроков
        </span>
        <div class="count green">
            @Model.Players
        </div>
        <span class="count_bottom"><i class="green">4% </i> From last Week</span>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top">Новых игроков</span>
        <div class="count">
            @Model.NewPlayers
        </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top">
            <i class="fa fa-clock-o"></i>
            Сейчас в сети
        </span>
        <div class="count">
            @Model.OnlinePlayers
        </div>
    </div>
</div>
<!-- /top tiles -->