﻿@model IEnumerable<Loka.GamePanel.View.Tutorial.TutorialCreateView>

@{
    ViewBag.Title = "Index";
}

<div class="col-md-12">
    <div class="x_panel" style="min-height: 760px;">
        <div class="x_title">
            <h2 class="center">
                Этапы обучения
                <small>
                    [
                        @Html.ActionLink("Добавить урок", "Create")
                    ]
                    [
                        @Html.ActionLink("Добавить этап", "CreateStep")
                    ]
                    </small>
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table id="PlayerDataTable" class="table table-striped table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TutorialId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TutorialName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AdminComment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Steps)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TutorialId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TutorialName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdminComment)
                        </td>
                        <td>
                            @foreach (var s in item.Steps)
                            {
                                @Html.ActionLink($"[{s.StepId}] -- {s.RewardCategoryId} [{s.RewardModelId} /  {s.RewardModelName}][Give: {s.RewardGive} / {s.RewardActivate}]", "EditStep", new {  id=s.StepKey }, new { title = @s.AdminComment }) <br>
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new {  id=item.TutorialId  }) |
                            @Html.ActionLink("Delete", "Delete", new {  id=item.TutorialId })
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</div>
