﻿@model IEnumerable<Loka.Common.Player.Inventory.PlayerInventoryItemEntity>

@if (Model.Any())
{
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="x_panel" style="min-height: 560px;">
            <div class="x_title">
                <h2>
                    @Model.First().CategoryTypeId
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="@Model.First().CategoryTypeId" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Name
                        </th>

                        <th>
                            Дата покупки
                        </th>

                        <th>
                            Срок действия
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>
                                @if (item.ItemModelEntity.IsAvalible)
                                {
                                    <i class="fa fa-dot-circle-o" title="Доступен"></i>
                                }
                                else
                                {
                                    <i class="fa fa-circle-o" title="Не доступен"></i>
                                }

                                <span title="@item.ItemId">
                                    @item.ModelId
                                </span>
                            </th>

                            <th>
                                @item.ItemModelEntity.ModelIdName
                            </th>

                            <th>
                                @item.PurchaseDate
                            </th>

                            <th>
                                @if (item.ValidityDate == null)
                                {
                                    @: не ограничено
                                }
                                else
                                {
                                    @item.ValidityDate
                                }
                            </th>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        $('#@Model.First().CategoryTypeId').dataTable();
    </script>
}