﻿@using Loka.Common.Match.GameMode
@model Loka.Server.Player.Models.PlayerEntity

@{
    ViewBag.Title =$"Список игроков | {Model?.PlayerName}";
}

@Styles.Render("~/bundles/Admin/DataBase/Styles")
@Scripts.Render("~/bundles/Admin/DataBase/Scripts")
@Scripts.Render("~/bundles/Admin/Flot/Scripts")


<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="x_panel" style="min-height: 760px;">
            <div class="x_title">
                <h1 class="center">
                    @Model.PlayerName

                   @if (Model.IsOnline)
                   {
                       @: [ в сети]
                   }


                </h1>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.PlayerId)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PlayerId)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PlayerName)
                    </dt>

                    <dd style="margin-bottom: 10px;">
                        @Html.DisplayFor(model => model.PlayerName)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.Cash.Money)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Cash.Money)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Cash.Donate)
                    </dt>

                    <dd style="margin-bottom: 10px;">
                        @Html.DisplayFor(model => model.Cash.Donate)
                    </dd>




                    <dt>
                        @Html.DisplayNameFor(model => model.Experience.Level)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Experience.Level)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Experience.Experience)
                    </dt>

                    <dd style="margin-bottom: 10px;">
                        @Html.DisplayFor(model => model.Experience.Experience) / @Html.DisplayFor(model => model.Experience.NextExperience)
                    </dd>






                    <dt>
                        @Html.DisplayNameFor(model => model.PremiumEndDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PremiumEndDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.RegistrationDate)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.RegistrationDate)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LastActivityDate)
                    </dt>

                    <dd style="margin-bottom: 10px;">
                        @Html.DisplayFor(model => model.LastActivityDate)

                        @{
                            var days = DateTime.UtcNow - Model.LastActivityDate;
                            if (days.TotalDays < 1)
                            {
                                @: сегодня
                            }
                            else
                            {
                                @Convert.ToInt32(days.TotalDays) @: дня назад
                            }

                        }

                    </dd>








                    <dt>
                        @Html.DisplayNameFor(model => model.CurrentFractionEntity)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CurrentFractionEntity.FractionId)
                        [ уровень @Html.DisplayFor(model => model.CurrentFractionEntity.CurrentRank) ]
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FirstPartnerId)
                    </dt>

                    <dd style="margin-bottom: 15px;">
                        @Html.DisplayFor(model => model.FirstPartnerId)
                    </dd>








                    <dt>
                        @Html.DisplayNameFor(model => model.Statistic.Threat)
                    </dt>

                    <dd>
                        @Html.DisplayTextFor(model => model.Statistic.Threat) level
                    </dd>
                   

                    <dt>
                        @Html.DisplayNameFor(model => model.Statistic.Kills)
                    </dt>

                    <dd>
                        @Html.DisplayTextFor(model => model.Statistic.Kills)
                        [Avg: @Html.DisplayTextFor(model => model.Statistic.KillsPerMatch)]
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.Statistic.Deads)
                    </dt>

                    <dd>
                        @Html.DisplayTextFor(model => model.Statistic.Deads)
                        [Avg: @Html.DisplayTextFor(model => model.Statistic.DeadsPerMatch)]
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Statistic.Assists)
                    </dt>

                    <dd style="margin-bottom: 15px;">
                        @Html.DisplayTextFor(model => model.Statistic.Assists)
                    </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.Statistic.ShortSeriesKill)
                </dt>

                <dd>
                    @Html.DisplayTextFor(model => model.Statistic.ShortSeriesKill)
                </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Statistic.SmallSeriesKill)
                    </dt>

                    <dd>
                        @Html.DisplayTextFor(model => model.Statistic.SmallSeriesKill)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Statistic.LargeSeriesKill)
                    </dt>

                <dd>
                    @Html.DisplayTextFor(model => model.Statistic.LargeSeriesKill)
                </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Statistic.EpicSeriesKill)
                    </dt>

                    <dd style="margin-bottom: 15px;">
                        @Html.DisplayTextFor(model => model.Statistic.EpicSeriesKill)
                    </dd>


                <dt>
                        @Html.DisplayNameFor(model => model.Statistic.Wins)
                    </dt>

                    <dd>
                        @Html.DisplayTextFor(model => model.Statistic.Wins)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Statistic.Loses)
                    </dt>

                    <dd>
                        @Html.DisplayTextFor(model => model.Statistic.Loses)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Statistic.Draws)
                    </dt>

                    <dd style="margin-bottom: 10px;">
                        @Html.DisplayTextFor(model => model.Statistic.Draws)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Statistic.Shots)
                    </dt>

                    <dd>
                        @Html.DisplayTextFor(model => model.Statistic.Shots)
                        [Avg: @Html.DisplayTextFor(model => model.Statistic.ShotsPerMatch)]
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Statistic.Hits)
                    </dt>

                    <dd>
                        @Html.DisplayTextFor(model => model.Statistic.Hits)
                        [Avg: @Html.DisplayTextFor(model => model.Statistic.HitRatePerMatch)]
                    </dd>

                    @*
    @foreach (var login in Model.User.Logins)
    {
        <dt>
            @login.LoginProvider
        </dt>

        <dd style="margin-bottom: 10px;">
            @login.ProviderKey
        </dd>
    }*@

                </dl>
            </div>
        </div>
    </div>

    <div>
        <div class="col-md-8 col-sm-8 col-xs-8">
            <div class="dashboard_graph"  style="margin-bottom: 30px;">
                <div class="row x_title">
                    <div class="col-md-6">
                        <h3>
                            Активность в игре
                        </h3>
                    </div>
                    <div class="col-md-6">
                        <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div id="placeholder33" style="height: 260px; display: none" class="demo-placeholder"></div>
                    <div style="width: 100%;">
                        <div id="canvas_dahs" class="demo-placeholder" style="width: 100%; height:270px;"></div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
                    <div class="x_title">
                        <h2>
                            Режимы игры
                        </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-6">
                        <div>
                            <p>
                                Командный бой
                            </p>
                            <div class="">
                                <div class="progress progress_sm" style="width: 76%;">
                                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80"></div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p>
                                Исследование
                            </p>
                            <div class="">
                                <div class="progress progress_sm" style="width: 76%;">
                                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="60"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-6">
                        <div>
                            <p>
                                Последний герой
                            </p>
                            <div class="">
                                <div class="progress progress_sm" style="width: 76%;">
                                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="40"></div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p>
                                PvP деэль
                            </p>
                            <div class="">
                                <div class="progress progress_sm" style="width: 76%;">
                                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="x_panel" style="min-height: 360px;">
            <div class="x_title">
                <h2>
                    Отряд
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="PlayerSquadDataTable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>

                            <th>
                                Game mode
                            </th>

                            <th>
                                Region
                            </th>

                            <th>
                                State
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    @if (Model.QueueEntity?.PartyEntity != null)
                    {
                         foreach (var member in Model.QueueEntity.PartyEntity.Members)
                         {
                             <tr>
                                 <th>
                                     @if (member.IsLeader)
                                     {
                                         <b style="color: aliceblue">
                                             @Html.ActionLink(member.PlayerEntity.PlayerName, "Details", new { Id = member.PlayerEntity.PlayerId}, null)
                                         </b>

                                         @:[лидер отряда]
                                     }
                                     else
                                     {
                                        @Html.ActionLink(member.PlayerEntity.PlayerName, "Details", new { Id = member.PlayerEntity.PlayerId }, null)
                                     }
                                 </th>

                                 <th>
                                     @member.GameModeTypeId
                                 </th>

                                 <th>
                                     @member.RegionTypeId
                                 </th>

                                 <th>
                                     @member.PlayerEntity.Status()
                                 </th>
                             </tr>
                         }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="x_panel" style="min-height: 360px;">
            <div class="x_title">
                <h2>
                    Друзья
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="PlayerFriendDataTable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>

                            <th>
                                Уровень
                            </th>


                            <th>
                                Статус
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var ac in Model.FriendList)
                        {
                            <tr>
                                <th>
                                    @Html.ActionLink(ac.FriendEntity.PlayerName, "Details", new { Id = @ac.FriendEntity.PlayerId }, null)
                                </th>

                                <th>
                                    @ac.FriendEntity.Experience.Level
                                </th>

                                <th>
                                    @ac.FriendEntity.Status()
                                </th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <h2>
        Статистика
    </h2>

    <div class="col-md-8 col-sm-8 col-xs-8">
        <div class="x_panel" style="min-height: 560px;">
            <div class="x_title">
                <h2>
                    Достижения
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="PlayerAchievementDataTable" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Name
                        </th>

                        <th>
                            Количество
                        </th>

                        <th>
                            До следующего уровня
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    @foreach (var ac in Model.AchievementList)
                    {
                        <tr>
                            <th>
                                @ac.PlayerAchievementId
                            </th>

                            <th>
                                @Html.ActionLink(@ac.AchievementTypeId.ToString(), "Details", "Achievement", new {Id = @ac.AchievementTypeId}, new {Title = "Открыть страницу настроеек достижение"})
                            </th>

                            <th>
                                @ac.Amount
                            </th>

                            <th>
                                @(ac.AchievementEntity.Achievement.OrderBy(a => a.Amount).FirstOrDefault(a => a.Amount >= ac.Amount)?.Amount)
                            </th>
                        </tr>

                    }

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="x_panel" style="min-height: 560px;">
            <div class="x_title">
                <h2>
                    Текущие ежедневные задания
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="PlayerTaskDataTable" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Name
                        </th>

                        <th>
                            Количество
                        </th>

                        <th>
                            До следующего уровня
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="min-height: 560px;">
            <div class="x_title">
                <h2>
                    Матчи
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="PlayerMatchesDataTable" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>
                            Ид
                        </th>

                        <th>
                            Сервер
                        </th>

                        <th>
                            Режим игры
                        </th>
                        <th>
                            Карта
                        </th>

                        <th>
                            Уровень
                        </th>

                        <th>
                            Дата начала матча
                        </th>

                        <th>
                            Дата окончания матча
                        </th>

                        <th>
                            Состояние
                        </th>

                        <th>
                            Результат
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    @foreach (var member in Model.MatchMembers)
                    {
                        <tr>
                            <th>
                                @member.MatchEntity.MatchId
                            </th>

                            <th>
                                @member.MatchEntity.NodeId <br>
                                [@member.MatchEntity.NodeEntity.Address]
                            </th>

                            <th>
                                @member.MatchEntity.GameModeTypeId
                            </th>

                            <th>
                                @member.MatchEntity.GameMapTypeId
                            </th>

                            <th>
                                @member.MatchEntity.Level
                            </th>

                            <th>
                                @member.MatchEntity.Started
                            </th>

                            <th>
                                @member.MatchEntity.Finished
                            </th>

                            <th>
                                @member.MatchEntity.State
                            </th>

                            <th>
                                @if (member.MatchEntity.WinnerTeamId == member.TeamId)
                                {
                                    @: Победа
                                }
                                else
                                {
                                    @: Поражение
                                }
                            </th>

                        </tr>

                    }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>



<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="min-height: 560px;">
            <div class="x_title">
                <h2>
                    PvE статистика
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="PlayerPvEMatchesDataTable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Режим игры / Уровень
                            </th>
                            @{
                                var maxLevels = Math.Max(Model.PvEMatchStatisticEntities.Any() ? Model.PvEMatchStatisticEntities.Max(p => (int) p.Level) : 10, 10) + 1;
                            }
                            @for (int i = 1; i <= maxLevels; i++)
                            {
                                <th>
                                    @i
                                </th>
                            }
                        </tr>
                    </thead>

                    <tbody>
                    @foreach(var gm in Enum.GetValues(typeof(GameModeTypeId)).Cast<GameModeTypeId>().ToArray())
                    {
                         if (Model.PvEMatchStatisticEntities.Any(m => m.GameModeTypeId == gm))
                         {
                             <tr>
                                 <th>
                                     @gm
                                 </th>
                                 @{
                                     var scorePerLevel = new KeyValuePair<Guid, long>[maxLevels];
                                     foreach (var match in Model.PvEMatchStatisticEntities.Where(m => m.GameModeTypeId == gm).ToArray())
                                     {
                                         scorePerLevel[match.Level] = new KeyValuePair < Guid, long>(match.StatisticEntityId, match.Score);
                                     }
                                 }

                                 @foreach (var score in scorePerLevel)
                                 {
                                     <th>
                                         @if (score.Key == Guid.Empty)
                                         {
                                             @Html.ActionLink(score.Value.ToString(), "CreatePvEStatitic", new {id = Model.PlayerId}, new {title = "Создать"})
                                         }
                                         else
                                         {
                                            @Html.ActionLink(score.Value.ToString(), "EditPvEStatitic", new { id = score.Key.ToString() }, new { title = "Изменить" })
                                         }
                                     </th>
                                 }
                             </tr>
                         }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>




<div class="row">
    <h2>
        Инвентарь
    </h2>

    @Html.Partial("ArmourTable", Model.InventoryWeaponList.OrderBy(i => i.ModelId).ToArray())
    @Html.Partial("ArmourTable", Model.InventoryArmourList.OrderBy(i => i.ModelId).ToArray())
    @Html.Partial("ArmourTable", Model.CharacterList.OrderBy(i => i.ModelId).ToArray())
</div>




    <script>
        $('#PlayerAchievementDataTable').dataTable();
        $('#PlayerMatchesDataTable').dataTable();
    </script>



    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

    <!-- Flot -->
    <script>
        $(document).ready(function () {
            var data1 = [
              [gd(2012, 1, 1), 17],
              [gd(2012, 1, 2), 74],
              [gd(2012, 1, 3), 6],
              [gd(2012, 1, 4), 320],
              [gd(2012, 1, 5), 20],
              [gd(2012, 1, 6), 85],
              [gd(2012, 1, 7), -7]
            ];

            var data2 = [
              [gd(2012, 1, 1), 82],
              [gd(2012, 1, 2), 400],
              [gd(2012, 1, 3), 66],
              [gd(2012, 1, 4), 9],
              [gd(2012, 1, 5), 500],
              [gd(2012, 1, 6), 6],
              [gd(2012, 1, 7), 9]
            ];
            $("#canvas_dahs").length && $.plot($("#canvas_dahs"), [
              data1, data2
            ], {
                series: {
                    lines: {
                        show: false,
                        fill: true
                    },
                    splines: {
                        show: true,
                        tension: 0.4,
                        lineWidth: 1,
                        fill: 0.4
                    },
                    points: {
                        radius: 0,
                        show: true
                    },
                    shadowSize: 2
                },
                grid: {
                    verticalLines: true,
                    hoverable: true,
                    clickable: true,
                    tickColor: "#d5d5d5",
                    borderWidth: 1,
                    color: '#fff'
                },
                colors: ["rgba(38, 185, 154, 0.38)", "rgba(3, 88, 106, 0.38)"],
                xaxis: {
                    tickColor: "rgba(51, 51, 51, 0.06)",
                    mode: "time",
                    tickSize: [1, "day"],
                    //tickLength: 10,
                    axisLabel: "Date",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Verdana, Arial',
                    axisLabelPadding: 10
                },
                yaxis: {
                    ticks: 8,
                    tickColor: "rgba(51, 51, 51, 0.06)",
                },
                tooltip: false
            });

            function gd(year, month, day) {
                return new Date(year, month - 1, day).getTime();
            }
        });
    </script>
    <!-- /Flot -->
