﻿@using Loka.Common.Store
@model IEnumerable<Loka.Areas.Admin.Controllers.PlayerEntityContainer>



@Styles.Render("~/bundles/Admin/DataBase/Styles")

@Scripts.Render("~/bundles/Admin/DataBase/Scripts")


<div class="col-md-12 col-sm-12 col-xs-12" style="min-height: 630px;">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table id="PlayerDataTable" class="table table-striped table-bordered">
                <thead>

                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Name
                        </th>

                        <th>
                            Money
                        </th>

                        <th>
                            Donate
                        </th>
                        
                        <th>
                            BTC
                        </th>

                        <th>
                            Level
                        </th>

                        <th>
                            RegistrationDate
                        </th>
                        <th>
                            LastActivityDate
                        </th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.PlayerId.ToString(), "Details", new { Id = @item.PlayerId })
                            </td>
                            <td>
                                @Html.ActionLink(item.PlayerName, "Details", new { Id = @item.PlayerId })
                            </td>

                            <td>
                                @(item.CashEntities.SingleOrDefault(p => p.Currency == GameCurrency.Money)?.Amount ?? -1)
                            </td>
                            <td>
                                @(item.CashEntities.SingleOrDefault(p => p.Currency == GameCurrency.Donate)?.Amount ?? -1)
                            </td>
                            <td>
                                @(item.CashEntities.SingleOrDefault(p => p.Currency == GameCurrency.Coin)?.Amount ?? -1)
                            </td>
                            <td>
                                @item.Experience.Level
                            </td>

                            <td>
                                @item.RegistrationDate
                            </td>
                            <td>
                                @item.LastActivityDate
                            </td>
                        </tr>
                    }
                </tbody>

</table>
        </div>
    </div>
</div>

<script>
    $('#PlayerDataTable').dataTable();
</script>
