﻿@using Loka.Areas.Admin.Infrastructures
@using Loka.Common.Match.GameMode
@using Loka.Infrastructure
@model IEnumerable<Loka.Areas.Admin.View.PlayerController.PlayerSearchView>



@Styles.Render("~/bundles/Admin/DataBase/Styles")

@Scripts.Render("~/bundles/Admin/DataBase/Scripts")


<div class="col-md-12 col-sm-12 col-xs-12" style="min-height: 630px;">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                @ViewBag.Title
            </h2>
            <div class="clearfix"></div>
            <div>
                <b>Интервал: </b>
                @Html.Partial("TimeRangeSelector", new TimeRangeSelectorView { Action = "Search", Controller = "Player", Route = new RouteValueDictionary(new { gameModeFlag = ViewBag.GameModeFlag })})
            </div>

            <div>
                <b>Режим игры: </b>
                @foreach (var gm in Enum.GetValues(typeof (GameModeTypeId)).Cast<GameModeTypeId>().OrderBy(g => g))
                {
                    <small>
                        |
                        @Html.ActionLink(gm.ToString(), "Search", new {gameModeFlag = gm, intervalInMinuts = ViewBag.IntervalInMinuts })
                    </small>
                }

            </div>
        </div>
        <div class="x_content">
            <table id="PlayerDataTable" class="table table-striped table-bordered">
                <thead>

                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Name
                        </th>

                        <th>
                            GameModeTypeId
                        </th>

                        <th>
                            RegionTypeId
                        </th>

                        <th>
                            Level
                        </th>

                        <th>
                            RegistrationDate
                        </th>
                        <th>
                            JoinDate
                        </th>
                        <th>
                            Range
                        </th>
                        <th>
                            Ready
                        </th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.PlayerId.ToString(), "Details", new { Id = @item.PlayerId })
                            </td>
                            <td>
                                @Html.ActionLink(item.PlayerName, "Details", new { Id = @item.PlayerId })
                            </td>

                            <td>
                                @item.GameModeTypeId
                            </td>
                            <td>
                                @item.RegionTypeId
                            </td>

                            <td>
                                @item.Experience.Level
                            </td>

                            <td>
                                @item.RegistrationDate
                            </td>
                            <td>
                                @item.JoinDate
                            </td>
                            <td>
                                @item.Level
                            </td>
                            <td>
                                @item.Ready
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>

<script>
    $('#PlayerDataTable').dataTable();
</script>
