﻿@model IEnumerable<Loka.GamePanel.View.Store.ItemOptionView>

<div class="col-md-12">
<div class="x_panel">
<div class="x_title">
    <h2>
        
        <b>
            @ViewBag.modelName
        </b>
        
        > 

        @Html.ActionLink("[ Добавить параметр ]", "Create", new {ViewBag.modelId, ViewBag.categoryTypeId})
    </h2>
    <div class="clearfix"></div>
</div>
<div class="x_content">

    <table class="table table-striped table-bordered">
        <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Key)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EditDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Last)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th></th>
        </tr>
        </thead>


        <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Key)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EditDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Last)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.EntityId  }) |
            </td>
        </tr>
    }
        </tbody>


    </table>
        </div>
    </div>
</div>