﻿@model IEnumerable<Loka.GamePanel.View.CharacterProfile.CharacterProfileView>

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/bundles/Admin/DataBase/Styles")

@Scripts.Render("~/bundles/Admin/DataBase/Scripts")

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    Список профилей
                </h2>
                <div style="float: right;">
                    @Html.ActionLink("Добавить проифиль", "Create", null, new {@class = "btn btn-success btn-sm" })
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>


    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    Основная информация
                </h2>
                <div class="clearfix"></div>
            </div>
            
            <div class="x_content">
                <table id="PlayerDataTable" class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TemplateId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CharacterModelId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fraction)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ItemModelId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ItemCategoryId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProfileSlot)
                        </th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TemplateId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CharacterId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fraction)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ItemModelId) [@Html.DisplayFor(modelItem => item.ItemModelName)]
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ItemCategoryId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProfileSlot)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new {  id=item.TemplateId }) |
                                @Html.ActionLink("Delete", "Delete", new {  id=item.TemplateId  })
                            </td>
                        </tr>
                    }
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>

<script>
    $('#PlayerDataTable').dataTable();
</script>
