﻿@using Loka.Areas.Admin.Infrastructures
@using Loka.Common.Player.Profile.Slot
@using Loka.Common.Store
@using Loka.Common.Store.Abstract
@using Loka.Common.Store.Fraction
@using Loka.Infrastructure
@using Loka.Common.Store.Fraction;

@model Loka.GamePanel.View.Store.ItemCreateView
@{
    var flags = new MultiSelectList(Enum.GetValues(typeof(ItemInstanceFlags)).Cast<ItemInstanceFlags>().Select(p => new
    {
        id = p,
        name = p
    }), "id", "name");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Добавление нового предмета
                    </h2>
                    <div style="float: right;">
                        <input type="submit" value="Добавить товар" class="btn btn-success btn-sm"/>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>


        <div class="col-md-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Основная информация
                    </h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                        <div class="form-group">
                            @Html.LabelFor(model => model.ModelId, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ModelId, new {htmlAttributes = new {@class = "form-control", required = "required"}})
                                @Html.ValidationMessageFor(model => model.ModelId, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CategoryTypeId, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10 col-sm-10 col-xs-10">
                                @Html.DropDownListFor(model => model.CategoryTypeId, new SelectList(Enum.GetValues(typeof(CategoryTypeId)).Cast<CategoryTypeId>()), new {@class = "form-control"})
                                @Html.ValidationMessageFor(model => model.CategoryTypeId, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TargetProfileId, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.DropDownListFor(model => model.TargetProfileId, new SelectList(Enum.GetValues(typeof(PlayerProfileTypeId)).Cast<PlayerProfileTypeId>()), new {@class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.TargetProfileId, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DefaultAmount, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.DefaultAmount, new {htmlAttributes = new {@class = "form-control", required = "required", value = 1}})
                                @Html.ValidationMessageFor(model => model.DefaultAmount, "", new {@class = "text-danger"})
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Фракция
                    </h2>
                    <div class="clearfix"></div>
                </div>

                <div class="x_content">

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})

                        <div class="form-group">
                            @Html.LabelFor(model => model.Level, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Level, new {htmlAttributes = new {@class = "form-control", required = "required", data_validate_minmax = "1,10"}})
                                @Html.ValidationMessageFor(model => model.Level, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FractionId, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10 col-sm-10 col-xs-12">
                                @Html.DropDownListFor(model => model.FractionId, new SelectList(Enum.GetValues(typeof(FractionTypeId)).Cast<FractionTypeId>()), new {@class = "form-control", Selected = @ViewBag.CategoryTypeId})
                                @Html.ValidationMessageFor(model => model.FractionId, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Flags, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.ListBoxFor(model => model.Flags, flags, new {@checked = true, SelectionMode = "multiple"})
                                    @Html.ValidationMessageFor(model => model.Flags, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Стоимость покупки
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Cost.Amount, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Cost.Amount, new {htmlAttributes = new {@class = "form-control", required = "required"}})
                                @Html.ValidationMessageFor(model => model.Cost.Amount, "", new {@class = "text-danger", data_validate_minmax = "1000,10000000"})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Cost.Currency, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.DropDownListFor(model => model.Cost.Currency, TimeRangeSelectorView.CurrencyDropDownList(Model?.Cost?.Currency ?? GameCurrency.Money))
                                    @Html.ValidationMessageFor(model => model.Cost.Currency, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="x_panel">
                <div class="x_title">
                    <h2>
                        Стоимость подписки
                    </h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(model => model.SubscribeCost.Amount, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SubscribeCost.Amount, new {htmlAttributes = new {@class = "form-control", required = "required"}})
                                @Html.ValidationMessageFor(model => model.SubscribeCost.Amount, "", new {@class = "text-danger", data_validate_minmax = "1000,10000000"})
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SubscribeCost.Currency, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                <div class="checkbox">
                                    @Html.DropDownListFor(model => model.SubscribeCost.Currency, TimeRangeSelectorView.CurrencyDropDownList(Model?.SubscribeCost?.Currency ?? GameCurrency.Money))
                                    @Html.ValidationMessageFor(model => model.SubscribeCost.Currency, "", new {@class = "text-danger"})
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>


}
<script src="~/Content/Admin/vendors/validator/validator.js"></script>