﻿@using Loka.Infrastructure
@model Loka.Common.Store.Abstract.ItemInstanceEntity

<div class="row">

    <div class="col-md-5 col-sm-5 col-xs-5">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    Удаление @(Model.ModelIdName)
                </h2>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                @using (Html.BeginForm())
                {
                        @Html.AntiForgeryToken()

                    <div class="form-horizontal col-md-offset-1">
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                        <div class="form-group">
                            @Html.LabelFor(model => model.ModelId, htmlAttributes: new {@class = "col-md-4"})
                            <div class="col-md-8 col-sm-8 col-xs-8">

                                @Html.DisplayTextFor(model => model.ModelId)
                                [ @Html.DisplayTextFor(model => model.ModelIdName) ]
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CategoryTypeId, htmlAttributes: new {@class = "col-md-4"})
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                @Html.DisplayTextFor(model => model.CategoryTypeId)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Level, htmlAttributes: new {@class = "col-md-4"})
                            <div class="col-md-8">
                                @Html.DisplayTextFor(model => model.Level)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FractionId, htmlAttributes: new {@class = "col-md-4"})
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                @Html.DisplayTextFor(model => model.FractionId)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Cost.Amount, htmlAttributes: new {@class = "col-md-4"})
                            <div class="col-md-8">
                                @Html.DisplayTextFor(model => model.Cost.Amount)
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Cost.IsDonate, htmlAttributes: new {@class = "col-md-4"})
                            <div class="col-md-8">
                                <div class="checkbox">
                                    @Html.DisplayTextFor(model => model.Cost.IsDonate)
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.IsAvalible, htmlAttributes: new {@class = "col-md-4"})
                            <div class="col-md-8">
                                <div class="checkbox">
                                    @Html.DisplayTextFor(model => model.IsAvalible)
                                </div>
                            </div>
                        </div>



                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-4" style="padding-top: 15px;">
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                        <div class="col-md-offset-1 col-md-4">
                            <input type="submit" value="Удалить" class="btn btn-danger btn-lg" />
                        </div>
                    </div>
                }
                <div>

                </div>

            </div>
        </div>
    </div>
</div>
