﻿@using Loka.Common.Store
@using Loka.Common.Store.Abstract
@using Loka.Infrastructure

@model IEnumerable<Loka.Common.Store.Abstract.ItemInstanceEntity>

@if (Model.Any())
{
    var cat = Model.First().CategoryTypeId;
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    @cat.ToString()
                    @Html.ActionLink("[ Добавить ]", "Create", new { CategoryTypeId  = Model.First().CategoryTypeId })
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="@Model.First().CategoryTypeId" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Модель</th>
                            <th>Фракция</th>
                            <th>Уровень</th>
                            <th>Стоимость</th>
                            @if (cat == CategoryTypeId.Weapon || cat == CategoryTypeId.Armour)
                            {
                                <th>Профиль</th>
                            }
                            <th>Длительность</th>

                            <th>Флаги</th>
                        </tr>
                    </thead>


                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">
                                    <a href=@Url.Action("Index", "StoreOption", new {ModelId = item.ModelId, CategoryTypeId = item.CategoryTypeId})>
                                        @item.ModelId
                                    </a>
                                </th>

                                <td>
                                    <a href=@Url.Action("Edit", new {ModelId = item.ModelId, CategoryTypeId = item.CategoryTypeId})>
                                        @item.ModelIdName
                                    </a>
                                </td>

                                <td>@item.FractionId</td>
                                <td>
                                    @item.Level

                                    @if (item.Flags.HasFlag(ItemInstanceFlags.Hidded))
                                    {
                                        <i class="fa fa-circle-o" title="Не доступен"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-dot-circle-o" title="Доступен"></i>
                                    }
                                    
                                    @if (item.Flags.HasFlag(ItemInstanceFlags.Subscribe))
                                    {
                                        <i class="fa fa-money" title="По подписке"></i>
                                    }
               
                                    @if (item.Flags.HasFlag(ItemInstanceFlags.Miner))
                                    {
                                        <i class="fa fa-download" title="Добывающая установка"></i>
                                    }
                                    
                                    @if (item.Flags.HasFlag(ItemInstanceFlags.Storage))
                                    {
                                        <i class="fa fa-home" title="Хранилище ресурсов"></i>
                                    }
                                    
                                    @if (item.Flags.HasFlag(ItemInstanceFlags.IgnoreRequirements))
                                    {
                                        <i class="fa fa-star" title="Игнорирование требований"></i>
                                    }

                                </td>

                                @if (item.Cost.Currency == GameCurrency.Donate)
                                {
                                    <td style="color: gold; font-weight: 800;" title="Премиум">
                                        @item.Cost.Amount
                                    </td>
                                }
                                else
                                {
                                    <td>@item.Cost.Amount</td>
                                }
                                
                                @if (cat == CategoryTypeId.Weapon || cat == CategoryTypeId.Armour)
                                {
                                    <th scope="row">
                                        @item.TargetProfileId
                                    </th>
                                }
                                    
                                <td>
                                    @if (item.IsSubscribe)
                                    {
                                        <i class="fa fa-dot-circle-o" title="Постоянный предмет"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-circle-o" title="Предмет по подписке"></i>
                                    }

                                    
                                    @(new TimeSpan((int) item.Duration, 0, 0))

                                </td>

   

                                <td>@item.Flags</td>
                            </tr>

                        }
                    </tbody>


                </table>
            </div>
        </div>
    </div>

    <script>
        $('#@Model.First().CategoryTypeId').dataTable();
    </script>

}