﻿@model Loka.Common.Achievements.Container.AchievementContainerEntity


@Styles.Render("~/bundles/Admin/DataBase/Styles")
@Scripts.Render("~/bundles/Admin/DataBase/Scripts")

<div class="col-md-8 col-sm-8 col-xs-8">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                @Html.ActionLink("Список достижений", "Index")
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table id="MatchesDataBase" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Цель
                        </th>
                        <th>
                            Награда
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var achievement in Model.Achievement)
                    {
                        <tr>
                            <th scope="row">
                                <a href=@Url.Action("Edit", new {Id = achievement.AchievementBonusId})>
                                    @achievement.AchievementBonusId
                                </a>
                            </th>

                            <td>
                                @achievement.Amount
                            </td>

                            <td>
                                @achievement.BonusPackId
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="col-md-4 col-sm-4 col-xs-4">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                Информация
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.AchievementTypeId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AchievementTypeId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CategoryId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CategoryId)
                </dd>

                <dt>
                    Number of Achievements:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Achievement.Count)
                </dd>

            </dl>

            <p>
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</div>

<script>
    $('#MatchesDataBase').dataTable();
</script>
