﻿@using Loka.Infrastructure

@model IEnumerable<Loka.Common.Achievements.Container.AchievementContainerEntity>
@{
    var stages = Model.Max(a => a.Achievement.Count);
    if (stages < 1)
    {
        stages = 1;
    }
}

@Styles.Render("~/bundles/Admin/DataBase/Styles")

@Scripts.Render("~/bundles/Admin/DataBase/Scripts")

<div class="col-md-12 col-sm-12 col-xs-12" style="min-height: 630px;">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                Достижения
                @Html.ActionLink("[ Добавить ]", "Create")
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table id="AchievementDataTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Модель</th>
                        <th>Категория</th>
                        @for (int i = 1; i <= stages; i++)
                        {
                            <th>
                               Stage @i
                            </th>
                        }
                        <th scope="row">
                            Итог
                        </th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">
                                @((int)item.AchievementTypeId)
                            </th>
                            <td>
                                <a href=@Url.Action("Details", new {Id = item.AchievementTypeId})>
                                    @item.AchievementTypeId
                                </a>
                            </td>
                            <td>
                                @item.CategoryId
                            </td>
        
                            @for (int i = 0; i < stages; i++)
                            {
                                <td>
                                    @{
                                        var stage = item.Achievement.OrderBy(a => a.Amount).ElementAtOrDefault(i);
                                        if (stage == null)
                                         {
                                             @:null
                                         }
                                         else
                                         {
                                             <a href=@Url.Action("Edit", new {Id = stage.AchievementBonusId })>
                                                 @stage.Amount
                                                 <span title="Бонус">[ @stage.BonusPackId $]</span>
                                             </a>
                                         }
                                    }
                                </td>
                            }

                            <td>
                                @item.Achievement.Sum(a => a.Amount)  <span title="Бонус">[ @item.Achievement.Sum(a => a.BonusPackId) $]</span> 
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $('#AchievementDataTable').dataTable();
</script>
