﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Loka | Admin | @ViewBag.Title</title>


    <!-- iCheck -->
    <link href="~/Content/Admin/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="~/Content/Admin/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/Content/Admin/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />


    <!-- Bootstrap -->
    <link href="~/Content/Admin/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/Admin/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/Admin/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="~/Content/Admin/vendors/google-code-prettify/prettify.min.css" rel="stylesheet">
    <!-- Custom styling plus plugins -->
    <link href="~/Content/Admin/Styles/custom.css" rel="stylesheet">


    <!-- /compose -->
    <!-- jQuery -->
    <script src="~/Content/Admin/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/Admin/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="clearfix"></div>
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <div style="height: 70px;"></div>
                            <ul class="nav side-menu">
                                <li>
                                    <a href="@Url.Action("Index", "Home")">
                                        <i class="fa fa-home"></i> Главная
                                    </a>
                                </li>
                                <li>
                                    <a><i class="fa fa-users"></i> Игроки <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            @Html.ActionLink("Список игроков", "Index", "Player")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Список игроков Online", "Online", "Player")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Список игроков Search", "Search", "Player")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Добавить игрока", "Create", "Player")
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-share-alt"></i> Лиги <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            @Html.ActionLink("Список лиг", "Index", "Player")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Добавить лигу", "Create", "Player")
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-shopping-cart"></i> Товары <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            @Html.ActionLink("Список товаров", "Index", "Store")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Список профилей", "Index", "CharacterProfile")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Список этапов обучения", "Index", "Tutorial")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Добавить товар", "Create", "Store")
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-university"></i> Фракции <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            @Html.ActionLink("Список фракций", "Index", "Fraction")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Добавить фракцию", "Create", "Fraction")
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-trophy"></i> Достижения <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            @Html.ActionLink("Список достижений", "Index", "Achievement")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Добавить достижение", "Create", "Achievement")
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-gamepad"></i> Матчи <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            @Html.ActionLink("Список матчей", "Index", "Game")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Список активных матчей", "Online", "Game")
                                        </li>
                                    </ul>
                                </li>


                                <li>
                                    <a><i class="fa fa-wrench"></i> Режимы игры <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            @Html.ActionLink("Список режимов", "Index", "GameMode")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Добавить режим", "Create", "GameMode")
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-usd"></i> Партнеры <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            @Html.ActionLink("Список товаров", "Index", "Partner")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Добавить товар", "Create", "Partner")
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-database"></i> Сервера <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            @Html.ActionLink("Список серверов", "Index", "Partner")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Список кластеров", "Index", "Partner")
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-cloud-download"></i> Обновления <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li>
                                            @Html.ActionLink("Список серверов", "Index", "Partner")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Список кластеров", "Index", "Partner")
                                        </li>
                                    </ul>
                                </li>


                                

                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    <li>
                                        <a href="https://www.lokagame.com/"> Сайт игры</a>
                                    </li>
                                    <li>
                                        <a href="http://admin.lokagame.com/"> Админ. панель сайта</a>
                                    </li>
                                    <li>
                                        <a href="http://panel.lokagame.com/"> Админ. панель игры</a>
                                    </li>
                                    <li>
                                        <a href="http://analytics.lokagame.com/"> Игровая статистика</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
        <!-- page content -->





        <div class="right_col" role="main">
            @RenderBody()
        </div>

       
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Admin panel for Loka Game.
                    Powered by SeNTike, VRS PRO
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <!-- compose -->
    <div class="compose col-md-6 col-xs-12">
        <div class="compose-header">
            New Message
            <button type="button" class="close compose-close">
                <span>×</span>
            </button>
        </div>
        <div class="compose-body">
            <div id="alerts"></div>
            <div class="btn-toolbar editor" data-role="editor-toolbar" data-target="#editor">
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font"><i class="fa fa-font"></i><b class="caret"></b></a>
                    <ul class="dropdown-menu"></ul>
                </div>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a data-edit="fontSize 5">
                                <p style="font-size:17px">Huge</p>
                            </a>
                        </li>
                        <li>
                            <a data-edit="fontSize 3">
                                <p style="font-size:14px">Normal</p>
                            </a>
                        </li>
                        <li>
                            <a data-edit="fontSize 1">
                                <p style="font-size:11px">Small</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="btn-group">
                    <a class="btn" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                    <a class="btn" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                    <a class="btn" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
                    <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                </div>
                <div class="btn-group">
                    <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
                    <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
                    <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-dedent"></i></a>
                    <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></a>
                </div>
                <div class="btn-group">
                    <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                    <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                    <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                    <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                </div>
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="fa fa-link"></i></a>
                    <div class="dropdown-menu input-append">
                        <input class="span2" placeholder="URL" type="text" data-edit="createLink" />
                        <button class="btn" type="button">Add</button>
                    </div>
                    <a class="btn" data-edit="unlink" title="Remove Hyperlink"><i class="fa fa-cut"></i></a>
                </div>
                <div class="btn-group">
                    <a class="btn" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="fa fa-picture-o"></i></a>
                    <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
                </div>
                <div class="btn-group">
                    <a class="btn" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                    <a class="btn" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                </div>
            </div>
            <div id="editor" class="editor-wrapper"></div>
        </div>
        <div class="compose-footer">
            <button id="send" class="btn btn-sm btn-success" type="button">Send</button>
        </div>
    </div>
   
    <!-- FastClick -->
    <script src="~/Content/Admin/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Content/Admin/vendors/nprogress/nprogress.js"></script>
    <!-- bootstrap-wysiwyg -->
    <script src="~/Content/Admin/vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="~/Content/Admin/vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="~/Content/Admin/vendors/google-code-prettify/src/prettify.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/Content/Admin/Scripts/custom.js"></script>


    <!-- gauge.js -->
    <script src="~/Content/Admin/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/Content/Admin/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/Content/Admin/vendors/iCheck/icheck.min.js"></script>

    <!-- JQVMap -->
    <script src="~/Content/Admin/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/Content/Admin/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/Content/Admin/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Content/Admin/Scripts/moment/moment.min.js"></script>
    <script src="~/Content/Admin/Scripts/datepicker/daterangepicker.js"></script>


    <!-- compose -->
    <script>
      $('#compose, .compose-close').click(function(){
        $('.compose').slideToggle();
      });
    </script>>
<!-- /compose -->
</body>
</html>