﻿@model Loka.Areas.Admin.Infrastructures.TimeRangeSelectorView
@{

}

<small>
    |
    @Html.ActionLink("Сейчас", @Model.Action, @Model.Controller, @Model.WithCustomRoute(new KeyValuePair<string, object>("intervalInMinuts", 5)), new Dictionary<string, object>())
</small>

<small>
    |
    @Html.ActionLink("15 минут", @Model.Action, @Model.Controller, @Model.WithCustomRoute(new KeyValuePair<string, object>("intervalInMinuts", 15)), new Dictionary<string, object>())
</small>


<small>
    |
    @Html.ActionLink("30 минут", @Model.Action, @Model.Controller, @Model.WithCustomRoute(new KeyValuePair<string, object>("intervalInMinuts", 30)), new Dictionary<string, object>())
</small>

<small>
    |
    @Html.ActionLink("Час", @Model.Action, @Model.Controller, @Model.WithCustomRoute(new KeyValuePair<string, object>("intervalInMinuts", 60 * 1)), new Dictionary<string, object>())
</small>

<small>
    |
    @Html.ActionLink("2 часа", @Model.Action, @Model.Controller, @Model.WithCustomRoute(new KeyValuePair<string, object>("intervalInMinuts", 60 * 2)), new Dictionary<string, object>())
</small>

<small>
    |
    @Html.ActionLink("6 часов", @Model.Action, @Model.Controller, @Model.WithCustomRoute(new KeyValuePair<string, object>("intervalInMinuts", 60 * 6)), new Dictionary<string, object>())
</small>

<small>
    |
    @Html.ActionLink("12 часов", @Model.Action, @Model.Controller, @Model.WithCustomRoute(new KeyValuePair<string, object>("intervalInMinuts", 60 * 12)), new Dictionary<string, object>())
</small>


<small>
    |
    @Html.ActionLink("1 день", @Model.Action, @Model.Controller, @Model.WithCustomRoute(new KeyValuePair<string, object>("intervalInMinuts", 60 * 24 * 1)), new Dictionary<string, object>())
</small>

<small>
    |
    @Html.ActionLink("3 дня", @Model.Action, @Model.Controller, @Model.WithCustomRoute(new KeyValuePair<string, object>("intervalInMinuts", 60 * 24 * 3)), new Dictionary<string, object>())
</small>

<small>
    |
    @Html.ActionLink("неделя", @Model.Action, @Model.Controller, @Model.WithCustomRoute(new KeyValuePair<string, object>("intervalInMinuts", 60 * 24 * 7)), new Dictionary<string, object>())
</small>

<small>
    |
    @Html.ActionLink("2 недели", @Model.Action, @Model.Controller, @Model.WithCustomRoute(new KeyValuePair<string, object>("intervalInMinuts", 60 * 24 * 14)), new Dictionary<string, object>())
</small>

<small>
    |
    @Html.ActionLink("месяц", @Model.Action, @Model.Controller, @Model.WithCustomRoute(new KeyValuePair<string, object>("intervalInMinuts", 60 * 24 * 31)), new Dictionary<string, object>())
</small>