﻿@model Loka.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<div class="Social">
    <h3 class="Title Padding">
       @UserSocialForm.LogIn
    </h3>
    <div class="Content">
        @{
            var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
            using (Html.BeginForm("ExternalLogin", "Account", new { /*ReturnUrl = Model.ReturnUrl*/ }))
            {
                @Html.AntiForgeryToken()

                foreach (AuthenticationDescription p in loginProviders)
                {
                    <button type="submit" class="@p.AuthenticationType" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="@UserSocialForm.SignIn @p.Caption"></button>
                }
            }

        }
    </div>
    <div class="clearfix"></div>
</div>