﻿@{
    ViewBag.Title = "Ошибка при входе";
}

<div class="row">
    <div class="container">
        <div class="col-md-12 Block">
            <h1 class="Title Padding">
                @ViewBag.Title
            </h1>
            <div class="Content">
                <h2 class="text-danger">Не удалось войти через службу.</h2>
            </div>
        </div>
    </div>
</div>

