﻿@{
    ViewBag.Title = PageForgotPassword.PageConfirmTitle;
}


<div class="row">
    <div class="container">
        <div class="col-md-12 Block">
            <h1 class="Title Padding">
                @ViewBag.Title
            </h1>
            <div class="Content">   
                <div>
                    <p>
                        @Html.Raw(PageForgotPassword.PageConfirmCaption)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


	
