﻿@model Loka.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = PageForgotPassword.PageTitle;
}

<div class="row">
    <div class="container">
        <div class="col-md-12 Block">
            <h1 class="Title Padding">
                @ViewBag.Title
            </h1>
            
            <div class="Content">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal col-md-offset-3", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="col-md-5 col-md-offset-1">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon glyphicon-user"></i>
                            </span>
                            @Html.TextBoxFor(m => m.Email, new { @class = "required requiredField form-control", placeholder = UserSharedFields.Email })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" style="margin-top: 10px;" value="@PageForgotPassword.ForgotPassword" class="Button OrangeButton" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

