﻿@using Loka.Models
@using Microsoft.Owin.Security
@model LoginViewModel
@{
    ViewBag.bShowBreadcrumbs = true;
    Layout = null;
}

<link rel="stylesheet" href="~/Content/LokaTheme/Styles/LokaTheme.LoginForm.css">


<div class="row">
    <div class="container">
        <div class="col-md-8 Block Form_Registration">
            <h3 class="Title Padding">
                @ViewBag.Title
            </h3>
            <div class="Content">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal contact login-form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="col-md-5 col-md-offset-3">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon glyphicon-user"></i>
                            </span>
                            @Html.TextBoxFor(m => m.Email, new {@class = "required requiredField form-control"})
                            @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="col-md-5 col-md-offset-3" style="margin-top: 10px;">
                        <div class="input-group ">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon glyphicon-lock"></i>
                            </span>
                            @Html.PasswordFor(m => m.Password, new { @class = "required requiredField form-control"})
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="ButtonRegistration_Wrapper" style="margin-top: 10px;">
                        <input type="submit" value="Войти" class="form-submit button-small ButtonRegistration" />
                    </div>
                }
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
