﻿@using Loka.Models
@model RegisterViewModel
@{
    ViewBag.Title = UserRegistrationForm.FormTitle;
    ViewBag.bShowBreadcrumbs = true;
}
<link rel="stylesheet" href="~/Content/LokaTheme/Styles/LokaTheme.LoginForm.css">
<div class="row">
    <div class="container">
        <div class="col-md-8 Block Form_Registration">
            <h3 class="Title Padding">
                @ViewBag.Title
            </h3>
            <div class="Content">
                @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <p style="color: #000;">
                        @Html.Raw(@UserRegistrationForm.FormCaption)
                    </p>

                    <div class="news_separator" style="margin-top: 10px; margin-bottom: 15px;"></div>

                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Email, UserRegistrationForm.EmailFieldCaption)
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon glyphicon-user"></i>
                            </span>
                            @Html.TextBoxFor(m => m.Email, new { @class = "required requiredField form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Password, @UserRegistrationForm.PasswordFieldCaption)
                        <div class="input-group ">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon glyphicon-lock"></i>
                            </span>
                            @Html.PasswordFor(m => m.Password, new { @class = "required requiredField form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="news_separator" style="margin-top: 20px; margin-bottom: 20px;"></div>

                    <p style="color: #000; text-align: center;">
                        @Html.Raw(@UserRegistrationForm.EulaCaption)
                    </p>

                    <div class="ButtonRegistration_Wrapper">
                        <input type="submit" value="@UserRegistrationForm.RegistrationButton" class="form-submit button-small ButtonRegistration" />
                    </div>
                }
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-4 Block Form_Registration">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </div>
    </div>
</div>