﻿@model Loka.Models.ResetPasswordViewModel
@{
    ViewBag.Title = PageResetPassword.PageTitle;
}


<div class="row">
    <div class="container">
        <div class="col-md-12 Block">
            <h1 class="Title Padding">
                @ViewBag.Title
            </h1>  
            <div class="Content">
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary("", new { @class = "text-danger col-md-offset-3" })
                    @Html.HiddenFor(model => model.Code)


                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-3 col-md-offset-3 control-label" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-3 col-md-offset-3 control-label" })
                        <div class="col-md-3">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 col-md-offset-3 control-label" })
                        <div class="col-md-3">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="form-group">
                        <div class="col-md-offset-6 col-md-3">
                            <input type="submit" class="btn btn-default" value="@PageResetPassword.PageTitle" />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                }
            </div>
        </div>
    </div>
</div>
