﻿@{
    ViewBag.Title = PageResetPassword.PageConfirmTitle;
}

<div class="row">
    <div class="container">
        <div class="col-md-12 Block">
            <h1 class="Title Padding">
                @ViewBag.Title
            </h1>
            <div class="Content">
                <p>
                    @Html.Raw(PageResetPassword.PageConfirmTitle).
                    @Html.ActionLink(PageResetPassword.ClickToLogin, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
    </div>
</div>

