﻿@model Loka.Models.SendCodeViewModel
@{
    ViewBag.Title = "Отправить";
}

<div class="row">
    <div class="container">
        <div class="col-md-12 Block">
            <h1 class="Title Padding">
                @ViewBag.Title
            </h1>
            <div class="Content">
                @using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("rememberMe", @Model.RememberMe)
                    <h4>Отправить проверочный код</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-8">
                            Выбор поставщика двухфакторной проверки подлинности:
                            @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers)
                            <input type="submit" value="Отправить" class="btn btn-default" />
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
