﻿@model Loka.Common.Match.Match.MatchEntity


@Styles.Render("~/bundles/Admin/DataBase/Styles")
@Scripts.Render("~/bundles/Admin/DataBase/Scripts")

<div class="col-md-8 col-sm-8 col-xs-8">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                @Html.ActionLink("Список матчей", "Index") > @Model.GameMapTypeId (@Model.GameModeTypeId) > Игроки
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <table id="MatchesDataBase" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>
                        Имя
                    </th>
                    <th>
                        Уровень
                    </th>
                    <th>
                        Отряд
                    </th>
                    <th>
                        Команда
                    </th>

                    <th title="Убийства">
                        У
                    </th>

                    <th title="Поддержка">
                        П
                    </th>

                    <th title="Серии убийств">
                        Серии
                    </th>

                    <th  title="Смерти">
                        С
                    </th>
                    <th title="Соотношение убийств к смертям">
                        КД
                    </th>

                    <th>
                        Деньги
                    </th>
                    <th>
                        Опыт
                    </th>
                    <th>
                        Репутация
                    </th>
                    <th>
                        Состояние
                    </th>
                </tr>
                </thead>


                <tbody>
                    @foreach (var member in Model.MemberList)
                    {
                        <tr>

                            <th scope="row">
                                <a href=@Url.Action("PlayerDetails", new {MatchId = member.MemberId}) title="Информация об игроке">
                                    @member.PlayerEntity.PlayerName
                                </a>
                            </th>

                            <td>
                                @member.Level
                            </td>

                            <td>
                                @member.Squad
                            </td>

                            <td>
                                @(@Model.TeamList.IndexOf(Model.TeamList.First(t => t.TeamId == member.TeamId)) + 1)
                            </td>

                            <td>
                                @member.Statistic.Kills
                            </td>

                            <td>
                                @member.Statistic.Assists
                            </td>

                            <td>
                                @member.Statistic.SeriesKills
                            </td>

                            <td>
                                @member.Statistic.Deads
                            </td>
                            <td>
                                @member.Statistic.KillDeadAvg
                            </td>
                            <td>
                                @member.Award.Money
                            </td>

                            <td>
                                @member.Award.Experience
                            </td>

                            <td>
                                @member.Award.Reputation
                            </td>

                            <td>
                                @member.State
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="col-md-4 col-sm-4 col-xs-4">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                Информация
            </h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.MatchId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MatchId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NodeId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NodeId)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.WinnerTeamId)
                </dt>

                <dd style="margin-bottom: 10px;">

                    @Html.DisplayFor(model => model.WinnerTeamId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Created)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Created)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Started)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Started)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Finished)
                </dt>

                <dd style="margin-bottom: 10px;">
                    @Html.DisplayFor(model => model.Finished)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.GameMapTypeId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GameMapTypeId)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.GameModeTypeId)
                </dt>

                <dd style="margin-bottom: 10px;">
                    @Html.DisplayFor(model => model.GameModeTypeId)
                </dd>

                <dt>
                    Number of teams:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TeamList.Count)
                </dd>

                <dt>
                    Number of members:
                </dt>

                <dd style="margin-bottom: 10px;">
                    @Html.DisplayFor(model => model.MemberList.Count) / @Html.DisplayFor(model => model.NumberOfBots)
                </dd>




                <dt>
                    @Html.DisplayNameFor(model => model.Level)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Level)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RoundTimeInSeconds)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RoundTimeInSeconds)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsMbFinished)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsMbFinished)
                </dd>



            </dl>

            <p>
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
</div>

<script>
    $('#MatchesDataBase').dataTable();
</script>
