﻿@using Loka.Areas.Admin.Infrastructures
@using Loka.Common.Match.GameMode
@model IEnumerable<Loka.Common.Match.Match.MatchEntity>

@Styles.Render("~/bundles/Admin/DataBase/Styles")
@Scripts.Render("~/bundles/Admin/DataBase/Scripts")

<div class="col-md-12 col-sm-12 col-xs-12" style="min-height: 630px;">
    <div class="x_panel">
        <div class="x_title">
            <h2>
                Матчи
            </h2>
            <div class="clearfix"></div>

            <div>
                <b>Интервал: </b>
                <small>
                    @Html.ActionLink("Все", "Index", new {gameModeFlag = ViewBag.GameModeFlag, intervalInMinuts = ViewBag.IntervalInMinuts})
                </small>
                @Html.Partial("TimeRangeSelector", new TimeRangeSelectorView { Action = "Index", Controller = "Game", Route = new RouteValueDictionary(new { gameModeFlag = ViewBag.GameModeFlag }) })
            </div>

            <div>
                <b>Режим игры: </b>
                @foreach (var gm in Enum.GetValues(typeof (GameModeTypeId)).Cast<GameModeTypeId>().OrderBy(g => g))
                {
                    <small>
                        |
                        @Html.ActionLink(gm.ToString(), "Index", new {gameModeFlag = gm, intervalInMinuts = ViewBag.IntervalInMinuts})
                    </small>
                }
            </div>

        </div>
        <div class="x_content">
            <table id="MatchesDataBase" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Режим</th>
                    <th>Карта</th>
                    <th>Сложность</th>
                    <th>Дата создания</th>
                    <th>Дата начала</th>
                    <th>Дата окончания</th>
                    <th>Время игры</th>
                    <th>Количество игроков</th>

                </tr>
                </thead>


                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">
                            <a href=@Url.Action("Details", new {MatchId = item.MatchId})>
                                @item.MatchId
                            </a>
                        </th>

                        <td>
                            @item.GameModeTypeId
                        </td>

                        <td>
                            @item.GameMapTypeId
                        </td>
                        <td>
                            @item.Difficulty
                        </td>
                        <td>
                            @item.Created
                        </td>

                        <td>
                            @item.Started
                        </td>

                        <td>
                            @item.Finished
                        </td>

                        <td>
                            @TimeSpan.FromSeconds(item.RoundTimeInSeconds) |

                            <span title="Фактическое время игры">
                                    <b>
                                        [@(((item.Finished ?? DateTime.UtcNow) - item.Started).ToString(@"hh\:mm\:ss"))]
                                    </b>
                                </span>
                        </td>

                        <td>
                            @item.MemberList.Count /
                            <b title="Количество ботов">
                                @item.NumberOfBots
                            </b>
                        </td>

                    </tr>
                }
                </tbody>


            </table>
        </div>
    </div>
</div>

<script>
    $('#MatchesDataBase').dataTable();
</script>